:root {
    --background: #121212;
    --blanco: #ffffff;
    --verdeS: #1db954;
    --color-dark: #000000;
    --color-sidebar: #181818;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--blanco);
}

.top-menu {
    background-color: var(--color-dark);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .logo {
    font-size: 24px;
    color: var(--blanco);
}

.top-menu-center {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.home-button {
    display: inline-block;
    background-color: var(--color-sidebar); 
    border-radius: 50%; 
    padding: 5px; /* Ajusta el tamaño del círculo */
    color: var(--blanco);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.home-button i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
}


.top-menu-center a {
    color: var(--blanco);
}

.library-link {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    color: var(--blanco);
    text-decoration: none;
}

.add-icon {
    color: #1db954;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    color: var(--blanco);
}

.search-form {
    display: flex;
    align-items: center;
    width: 300px;
}

.search-bar {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    background-color: #333;
    color: var(--blanco);
}

.search-button {
    background-color: var(--color-sidebar);
    border: none;
    padding: 8px;
    cursor: pointer;
    color: var(--blanco);
    border-radius: 0 4px 4px 0;
}

.top-menu-right button {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}

.sign-up {
    background-color: var(--blanco);
    color: var(--color-dark);
}

.log-in {
    background-color: transparent;
    color: var(--blanco);
    border: 1px solid var(--blanco);
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.side-menu {
    width: 250px;
    background-color: var(--color-sidebar);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--blanco);
}

.create-playlist,
.search-podcast {
    background-color: var(--blanco);
    color: var(--color-dark);
    border: 1px solid var(--blanco);
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap; 
}

.home-button:hover, .create-playlist:hover,
.search-podcast:hover,
.sign-up:hover,
.log-in:hover {
    transform: scale(1.05); 
    background-color: var(--color-oscuro);  
    color: var(--blanco); 
    transition: transform 0.3s, background-color 0.3s;  
}

.legal-links a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #b3b3b3;
    text-decoration: none;
}

.legal-links a:hover {
    color: var(--blanco);
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-content section {
    margin-bottom: 30px;
}

.main-content h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
}

.view-all {
    color: var(--blanco);
    font-size: 13px;
    text-decoration: none;
}

.view-all:hover {
    text-decoration: underline;
}

.artist-image {
    width: 169px;
    height: 169px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.album-image{
    width: 165px;
    height: 165px;
    border-radius: 5%;
    object-fit: cover;
    margin-right: 10px;
}

.Cookies:hover{
    text-decoration: underline;

}



@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .side-menu {
        width: 250px;
    }
}